/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    position: fixed;
    width: 100%;
    background-color: #333333;
    color: #fff;
    padding: 10px 0 10px 0;
}

header h1 {
    margin: 0 auto 10px auto;
}

header a{
    color: #fff;
    text-decoration: none;
}

header li a:hover{
    color: #f4f4f4;
    background-color: gray;
    border-radius: 5px;
}

nav ul {
    list-style: none;
    padding: 0px;
    text-align: center;
    margin: 20px 0px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    margin: 10px 10px;
}

.here {
    color: #333333;
    background-color: #f4f4f4;
    border-radius: 5px;
}

/*
.back-img-home {
    background: url("picture/tanbo1.jpg")
      center / cover; 
}

.back-img-about {
    background: url("picture/tanbo2.jpg")
      center / cover; 
}

.back-img-skill {
    background: url("picture/tanbo3.jpg")
      center / cover; 
}

.back-img-portfolio {
    background: url("picture/tanbo4.jpg")
      center / cover; 
}

.back-img-other {
    background: url("picture/tanbo5.jpg")
      center / cover; 
}

.back-img-contact {
    background: url("picture/tanbo6.jpg")
      center / cover; 
}

.transparent{
    background-color: rgba(255, 255, 255, 0.2);
    width: 100vw;
    padding-bottom: 50%;
}
*/

h2 {
    margin-top: 130px;
}

section {
    padding: 10px 0 50px 0;
    text-align: center;
}

#about h3 {
    padding: 30px 0 0px 0;
}

.profile-picture img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.content {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#home a {
    display:flex;
    flex-flow: column;
    margin: 20px auto;
    background-color: #f4f4f4;
    color: black;
    text-decoration: none;
    width: 50%;
    justify-content: center;
    border-radius: 10px;
}

#home a:hover {
    background-color: gray;
    color: #f4f4f4;
}

#home h3 {
    margin: 10px 0;
}

.content-list {
    padding: 10px 20px;
    display: block;
    width: 40%;
    margin: 10px 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

@media only screen and (max-width: 750px) {
    .content-list { width: 100%; }
    #home a { width: 100%; }
    h2 { margin-top: 200px; }
    
    .portfolio-content img { width: 100%; }

}

.skill-list {
    list-style-type: none;
    padding: 0;
}

.skill-list li {
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 5px;
}

.project {
    text-align: left;
}

.project h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.project p {
    margin: 5px;
}

.portfolio-list {
    padding: 10px 20px;
    display: block;
    width: 100%;
    margin: 10px 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.portfolio-content {
    margin: 5px;
    display: flex;
}

.portfolio-content img{
    width: 45%;
    margin: 10px;
    overflow: hidden;
    
}

.portfolio-content p {
    margin: 5px;
}

.other-content img{
    width: 90%;
    margin: 10px;
}

#contact ul{
    list-style: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p{
    text-align: right;
}

footer a:hover{
    color: #f4f4f4;
    background-color: gray;
    border-radius: 5px;
}
