/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    width: 100%;
    background-color: #333333;
    color: #fff;
    padding-top: 10px;
    position: sticky;
    top: 0;
    z-index: 999;
}

header h1 {
    margin: 0 auto 10px auto;
}

header a {
    color: #fff;
    text-decoration: none;
}


/*subnav用↓*/
.gnavi__lists {
    display: flex;
}

.gnavi {
    padding-left: 5%;
    text-align: center;
}

.gnavi__list {
    width: 15%;
    height: 40px;
    position: relative;
    transition: all .3s;
}

.gnavi__list a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 15px;
    transition: all .3s;
}

.gnavi__lists li a:hover {
    color: #f4f4f4;
    background-color: gray;
}

.dropdown__lists {
    display: none;
    /*デフォルトでは非表示の状態にしておく*/
    width: 100%;
    min-width: 150px;
    position: absolute;
    top: 40px;
    left: 0;
}

.gnavi__list:hover .dropdown__lists {
    display: block;
    /*Gナビメニューにホバーしたら表示*/
}

.dropdown__list {
    background-color: #004d80;
    height: 40px;
    transition: all .3s;
    position: relative;
}

.dropdown__list a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
    background-color: #f4f4f4;
    text-decoration: none;
    position: relative;
    white-space: nowrap;
}

.dropdown__list a::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    transform: rotate(135deg);
    position: absolute;
    right: 15px;
    top: calc(50% - 5px);
}

/*subnav用↑*/

h2 {
    margin: 10px;
}

section {
    padding: 10px 0 50px 0;
    text-align: center;
}

/*スクロール↓*/
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* ↓ スライドの外枠 */
.slide-wrapper {
    width: 80%;
    height: 100%;
    position: relative;
    overflow: hidden;
    /*はみ出したスライドを隠す */
    margin: 0 auto;
}

/*  ↓ スライド（コンテンツ） */
.slide {
    /*スライド全体 */
    width: 400%;
    height: 100%;
    display: flex;
    transition: all 0.5s;
}

.slide div {
    /* スライド */
    width: 25%;
    height: 100%;
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-block;
}

.slide a :hover {
    transition: 0.3s;
    filter: brightness(0.8);
}

.slide img {
    width: auto;
    height: 200px;
}

/* スライドさせるために必要なクラス */
.slide1 {
    transform: translateX(0);
}

.slide2 {
    transform: translateX(-25%);
}

.slide3 {
    transform: translateX(-50%);
}

.slide4 {
    transform: translateX(-75%);
}

/* ↓ 左右のボタン */
.next {
    right: 0px;
    bottom: 50%;
    z-index: 10;
    cursor: pointer;
    position: absolute;

    font-size: 30px;
    font-weight: bold;
    transform: scale(0.7, 1);
    background-color: #f4f4f4;
}

.prev {
    left: 0px;
    bottom: 50%;
    z-index: 10;
    cursor: pointer;
    position: absolute;

    font-size: 30px;
    font-weight: bold;
    transform: scale(0.7, 1);
    background-color: #f4f4f4;
}

.next:hover {
    color: #f4f4f4;
    background-color: gray;
}

.prev:hover {
    color: #f4f4f4;
    background-color: gray;
}

/* ↓ インジケーター */
.indicator {
    width: 100%;
    bottom: 20px;
    display: flex;
    column-gap: 18px;
    z-index: 10;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.indicator li {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    list-style: none;
    background-color: #fff;
    border: 2px #000 solid;
    cursor: pointer;
}

.indicator li:first-of-type {
    background-color: #000;
}
/*スクロール↑*/

#about h3 {
    padding: 30px 0 0px 0;
}

/*aboutの画像スライド↓*/

#changePic {
    animation: imgfade 8s infinite;
    opacity: 0;
    height: 400px;
    width: auto;
}

@keyframes imgfade {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*aboutの画像スライド↑*/
#home h2 {
    padding-top: 180px;
    margin-top: -180px;
}

#about h2 {
    padding-top: 180px;
    margin-top: -180px;
}

#skill h2 {
    padding-top: 180px;
    margin-top: -180px;
}

#portfolio h2 {
    padding-top: 180px;
    margin-top: -180px;
}

#other h2 {
    padding-top: 180px;
    margin-top: -180px;
}

#contact h2 {
    padding-top: 180px;
    margin-top: -180px;
}

.profile-picture img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.content {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.history{
    margin: 20px auto;
    padding: 10px;
    float: left;
}

.subject{
    display: flex;
    justify-content: center;
}

.history dd{
    margin-left: 150px;    
    text-align: left;
}

.history dt {
    text-align: left;  /* 文章を左寄せする(※) */
    float: left;     /* 左端に寄せて、後続を右側へ回り込ませる */
}

.home-nav {
    display: flex;
    flex-flow: column;
    margin: 20px auto;
    background-color: #cdcdcd;
    color: black;
    text-decoration: none;
    width: 50%;
    justify-content: center;
    border-radius: 10px;
}

.home-nav:hover {
    background-color: gray;
    color: #f4f4f4;
}

#home h3 {
    margin: 10px 0;
}

.content-list {
    padding: 10px 20px;
    display: block;
    width: 100%;
    /*変更中*/
    margin: 10px 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

@media only screen and (max-width: 750px) {
    .content-list {
        width: 100%;
    }

    #home a {
        width: 100%;
    }

    .other-content img {
        width: 90%;
    }
}

@media(min-width:751px){
    .project {
    display:flex;
    }
}

.project {
    text-align: left;
    align-items: center;
}

.project h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.project p {
    margin: 5px;
}

.project img {
    width: 300px;
    height: 200px;
    margin-right: 30px;
    display: block;
}

/* スキル　タブメニュー↓ */
.tab {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 20px;
}

/* タブメニュー */
.tab__menu {
    display: flex;
    align-items: flex-end;
    /* メニューを下揃え&高さを調整 */
    justify-content: center;
    min-height: 50px;
    /* メニュー切替時にタブがズレないように */
    padding: 0;
    margin: 0;
}

.tab__menu-item {
    list-style: none;
    width: 200px;
    padding: 8px 5px;
    /* メニューに高さを付ける */
    text-align: center;
    margin-right: 6px;
    background-color: #f4f4f4;
    cursor: pointer;
    transition: all .3s;
    /* アニメーション */
}

.tab__menu-item:last-of-type {
    margin-right: 0px;
}

/* is-activeがついている時のスタイル */
.tab__menu-item.is-active {
    background-color: #cdcdcd;
    padding: 12px 5px;
}

/* タブパネル */
.tab__panel {
    width: 100%;
}

.tab__panel-box {
    min-height: 300px;    /* テキスト量が多くなっても対応できるように */
    padding: 10px 30px;
}

.tab__panel-box001 {
    background-color: #cdcdcd;
    display: none;
}

.tab__panel-box002 {
    background-color: #cdcdcd;
    display: none;
}

.tab__panel-box003 {
    background-color: #cdcdcd;
    display: none;
}

.tab__panel-box004 {
    background-color: #cdcdcd;
    display: none;
}

/* is-showがついている時のスタイル */
.tab__panel-box.is-show {
    display: block;
}

.tab__panel-text li {
    margin: 20px 0;
}

/* スキル　タブメニュー↑ */

.other-content img {
    width: 40%;
    margin: 10px;
}

#change-image-box {
    display: flex;
    justify-content: center;
}

#change-image-box img {
    height: 300px;
    width: auto;
    object-fit: cover;
    object-position: auto;
    margin: 10px;
}

#change-image-navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#change-image-navigation img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: auto;
    padding: 10px;
}

#contact ul {
    list-style: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    text-align: right;
}

footer a:hover {
    color: #f4f4f4;
    background-color: gray;
    border-radius: 5px;
}

footer nav ul {
    list-style: none;
    padding: 0px;
    margin: 20px 0px;
}

footer nav ul li {
    display: inline;
}

footer nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    margin: 10px 10px;
}

.here {
    color: #f4f4f4;
    background-color: gray;
}



/*
.back-img-home {
    background: url("picture/tanbo1.jpg")
      center / cover; 
}

.back-img-about {
    background: url("picture/tanbo2.jpg")
      center / cover; 
}

.back-img-skill {
    background: url("picture/tanbo3.jpg")
      center / cover; 
}

.back-img-portfolio {
    background: url("picture/tanbo4.jpg")
      center / cover; 
}

.back-img-other {
    background: url("picture/tanbo5.jpg")
      center / cover; 
}

.back-img-contact {
    background: url("picture/tanbo6.jpg")
      center / cover; 
}

.transparent{
    background-color: rgba(255, 255, 255, 0.2);
    width: 100vw;
    padding-bottom: 50%;
}
*/