/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    width: 100%;
    background-color: #333333;
    color: #fff;
    padding: 10px 0 10px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}

header h1 {
    margin: 0 auto 10px auto;
}

header a {
    color: #fff;
    text-decoration: none;
}

header li a:hover {
    color: #f4f4f4;
    background-color: gray;
    border-radius: 5px;
}

nav ul {
    list-style: none;
    padding: 0px;
    text-align: center;
    margin: 20px 0px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    margin: 10px 10px;
}

.here {
    color: #333333;
    background-color: #f4f4f4;
    border-radius: 5px;
}

/*
.back-img-home {
    background: url("picture/tanbo1.jpg")
      center / cover; 
}

.back-img-about {
    background: url("picture/tanbo2.jpg")
      center / cover; 
}

.back-img-skill {
    background: url("picture/tanbo3.jpg")
      center / cover; 
}

.back-img-portfolio {
    background: url("picture/tanbo4.jpg")
      center / cover; 
}

.back-img-other {
    background: url("picture/tanbo5.jpg")
      center / cover; 
}

.back-img-contact {
    background: url("picture/tanbo6.jpg")
      center / cover; 
}

.transparent{
    background-color: rgba(255, 255, 255, 0.2);
    width: 100vw;
    padding-bottom: 50%;
}
*/

h2 {
    margin: 10px;
}

section {
    padding: 10px 0 50px 0;
    text-align: center;
}

/*スクロール↓*/

*,
body,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* ↓ スライドの外枠 */
.slide-wrapper { 
    width: 80%;
    height: 100%;
    position: relative;
    overflow: hidden; /*はみ出したスライドを隠す */
    margin: 0 auto;
}

/*  ↓ スライド（コンテンツ） */
.slide { /*スライド全体 */
    width: 400%;
    height: 100%;
    display: flex;
    transition: all 0.5s;
}

.slide div { /* スライド */
    width: 25%;
    height: 100%;
    font-size: 16px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-block;
}

.slide a :hover {
	opacity:0.5;
	transition:0.3s;
}

.slide a {
    height: auto;
    width: auto;
}

/* スライドさせるために必要なクラス */
.slide1 {
    transform: translateX(0);
}

.slide2 {
    transform: translateX(-25%);
}

.slide3 {
    transform: translateX(-50%);
}

.slide4 {
    transform: translateX(-75%);
}

/* ↓ 左右のボタン */
.next {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 10px;
    bottom: 50%;
    z-index: 10;
    cursor: pointer;
    border-top: solid 3px #000;
    border-right: solid 3px #000;
    -webkit-transform: rotate(45deg) translateY(50%);
    transform: rotate(45deg) translateY(50%);
}

.prev {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 25px;
    bottom: 50%;
    z-index: 10;
    cursor: pointer;
    border-top: solid 3px #000;
    border-right: solid 3px #000;
    -webkit-transform: rotate(-135deg) translateY(-50%);
    transform: rotate(-135deg) translateY(-50%);
}

.next:hover {
    background-color: gray;
}

.prev:hover {
    background-color: gray;
}

/* ↓ インジケーター */
.indicator {
    width: 100%;
    bottom: 20px;
    display: flex;
    column-gap: 18px;
    z-index: 10;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.indicator li {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    list-style: none;
    background-color: #fff;
    border: 2px #000 solid;
    cursor: pointer;
}

.indicator li:first-of-type {
    background-color: #000;
}
/*スクロール↑*/

#about h3 {
    padding: 30px 0 0px 0;
}

#portfolio h3 {
    padding-top: 180px;
    margin-top:-180px;
}

.profile-picture img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.content {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#home a {
    display: flex;
    flex-flow: column;
    margin: 20px auto;
    background-color: #f4f4f4;
    color: black;
    text-decoration: none;
    width: 50%;
    justify-content: center;
    border-radius: 10px;
}

#home a:hover {
    background-color: gray;
    color: #f4f4f4;
}

#home h3 {
    margin: 10px 0;
}

.content-list {
    padding: 10px 20px;
    display: block;
    width: 40%;
    margin: 10px 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

@media only screen and (max-width: 750px) {
    .content-list {
        width: 100%;
    }
    #home a {
        width: 100%;
    }
}

.project {
    text-align: left;
}

.project h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.project p {
    margin: 5px;
}

.project img {
    width: 80%;
    margin: auto;
    display: block;
}

.skill-list {
    list-style-type: none;
    padding: 0;
}

.skill-list li {
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 5px;
}

.other-content img {
    width: 90%;
    margin: 10px;
}

#contact ul {
    list-style: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    text-align: right;
}

footer a:hover {
    color: #f4f4f4;
    background-color: gray;
    border-radius: 5px;
}